# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/out
/output/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
src/lib/migrations/001_init.sql
images/761514.jpg
images/1169180.jpg
images/1342171 (1).jpeg
images/1347180.png
images/1351117.jpeg
images/1353823.jpeg
images/1354206.jpeg
images/1365948.jpeg
images/1406669.mp4
images/relaxing-genshin-impact-night-garden-path-moewalls-com.mp4
