@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@keyframes glow {
    0% {
        text-shadow: 0 0 10px var(--glow-color, #22c55e), 0 0 20px var(--glow-color, #22c55e);
    }

    50% {
        text-shadow: 0 0 20px var(--glow-color, #22c55e), 0 0 40px var(--glow-color, #22c55e);
    }

    100% {
        text-shadow: 0 0 10px var(--glow-color, #22c55e), 0 0 20px var(--glow-color, #22c55e);
    }
}

.glow {
    animation: glow 2s ease-in-out infinite alternate;
}